#console {
    position: absolute;
    bottom: 0;
    margin: 2%;
    display: block;
    height: 5%;
  border: 6px solid #949599;
}

#start{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}

p{
	color: #558b2f;
  border: 6px solid red;
  display: block;
}

ul{
  border: 6px solid #949599;
  display: block;
  height: 500px;
  overflow-y: scroll;
}

*{
	font-family: 'Ubuntu Mono', monospace;
}